## PyMongo Examples
Notes:
- Running a local mongodb without authentication
- imported movies_collection and zipcodes


Documentation: https://pymongo.readthedocs.io/en/stable/

In [1]:
import pymongo
from pymongo import MongoClient
import pprint

In [2]:
client = MongoClient('localhost', 27017)

In [3]:
db = client.movies

In [4]:
collection = db.movies

In [5]:
pprint.pprint(collection.find_one())

{'_id': ObjectId('589cbda9c0b9fec62febf274'),
 'actors': ['Ryan Reynolds',
            'Morena Baccarin',
            'Ed Skrein',
            'T.J. Miller',
            'Gina Carano',
            'Leslie Uggams',
            'Stefan Kapičić',
            'Brianna Hildebrand'],
 'awards': {'nominations': 12,
            'text': 'wo Golden Globe Award nominations for Best Motion Picture '
                    '– Musical or Comedy and Best Actor – Motion Picture '
                    'Musical or Comedy.',
            'wins': 5},
 'countries': ['USA'],
 'director': 'Tim Miller',
 'genres': ['Comics character', 'Adventure', 'Action'],
 'imdb': {'id': 'tt1431045', 'rating': 8.1, 'votes': 585141},
 'metacritic': 92,
 'plot': 'Deadpool is a 2016 American superhero film directed by Tim Miller '
         'and written by Rhett Reese and Paul Wernick, based on the Marvel '
         'Comics character of the same name.',
 'poster': 'http://ia.media-imdb.com/images/M/MV5BMTgxOTY4Mjc0MF5BMl5BanBnXkFtZTcwNTA4MDQyMw@@._V1_SX300.jpg',
 'rated': 'R',
 'released': datetime.datetime(2016, 6, 18, 4, 0),
 'runtime': 108,
 'title': 'Deadpool',
 'tomato': {'consensus': 'Fast, funny, and gleefully profane, the '
                         'fourth-wall-busting Deadpool.',
            'fresh': 241,
            'image': 'certified',
            'meter': 99,
            'rating': 6.9,
            'reviews': 287,
            'userMeter': 90,
            'userRating': 4.3,
            'userReviews': 181719},
 'type': 'movie',
 'writers': ['Rhett Reese', 'Paul Wernick'],
 'year': 2016}

In [6]:
pprint.pprint(collection.find_one({"title": "doctor strange"}))

{'_id': ObjectId('589cc417c0b9fec62febf276'),
 'actors': ['Benedict Cumberbatch', 'Chiwetel Ejiofor', 'Rachel McAdams'],
 'awards': {'nominations': 38, 'text': 'Oscar, Best Visual Effects', 'wins': 6},
 'countries': ['USA'],
 'director': 'Scott Derrickson',
 'genres': ['Sci-Fi', 'Fantasy', 'Adventure', 'Action'],
 'imdb': {'id': 'tt1211837', 'rating': 7.8, 'votes': 191181},
 'metacritic': 44,
 'plot': 'Marvels Doctor Strange follows the story of the talented '
         'neurosurgeon Doctor Stephen Strange who, after a tragic car '
         'accident, must put ego aside and learn the secrets of a hidden world '
         'of mysticism and alternate dimensions. Based in New York Citys '
         'Greenwich Village, Doctor Strange must act as an intermediary '
         'between the real world and what lies beyond, utilising a vast array '
         'of metaphysical abilities and artifacts to protect the Marvel '
         'Cinematic Universe.',
 'poster': 'http://ia.media-imdb.com/images/M/MV5BMTgxOTY4Mjc0MF5BMl5BanBnXkFtZTcwNTA4MDQyMw@@._V1_SX300.jpg',
 'rated': 'PG-13',
 'released': datetime.datetime(2016, 11, 4, 4, 0),
 'runtime': 115,
 'title': 'doctor strange',
 'tomato': {'consensus': 'Batman v Superman: Dawn of Justice smothers a '
                         'potentially powerful story -- and some of Americas '
                         'most iconic superheroes -- in a grim whirlwind of '
                         'effects-driven action.',
            'fresh': 97,
            'image': 'certified',
            'meter': 27,
            'rating': 4.9,
            'reviews': 353,
            'userMeter': 64,
            'userRating': 3.6,
            'userReviews': 225954},
 'type': 'movie',
 'writers': ['Jon Spaihts', 'Scott Derrickson'],
 'year': 2016}

In [7]:
import pandas as pd

In [8]:
data = pd.DataFrame(list(collection.find()))

In [9]:
data.head()

,_id,title,year,rated,released,runtime,countries,genres,director,writers,actors,plot,poster,imdb,tomato,metacritic,awards,type,reviews
0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,[USA],"[Comics character, Adventure, Action]",Tim Miller,"[Rhett Reese, Paul Wernick]","[Ryan Reynolds, Morena Baccarin, Ed Skrein, T....",Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,"{'id': 'tt1431045', 'rating': 8.1, 'votes': 58...","{'meter': 99, 'image': 'certified', 'rating': ...",92,"{'wins': 5, 'nominations': 12, 'text': 'wo Gol...",movie,NaN
1,589cc22cc0b9fec62febf275,BATMAN V SUPERMAN: DAWN OF JUSTICE,2016,PG-13,2016-03-19 04:00:00,151,[USA],"[Action, Adventure, Sci-Fi]",Lee Unkrich,"[Chris Terrio, David S. Goyer]","[Amy Adams, Henry Cavill, Ben Affleck]",The general public is concerned over having Su...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,"{'id': 'tt2975590', 'rating': 6.7, 'votes': 3206}","{'meter': 27, 'image': 'certified', 'rating': ...",44,"{'wins': 6, 'nominations': 26, 'text': 'Actor ...",movie,NaN
2,5692a15524de1e0ce2dfcfa3,Toy Story 4,2011,G,2010-06-18 04:00:00,206,[USA],"[Animation, Adventure, Comedy]",Lee Unkrich,"[John Lasseter, Andrew Stanton, Lee Unkrich, M...","[Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty]",The toys are mistakenly delivered to a day-car...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,"{'id': 'tt0435761', 'rating': 8.4, 'votes': 50...","{'meter': 99, 'image': 'certified', 'rating': ...",92,"{'wins': 56, 'nominations': 86, 'text': 'Won 2...",movie,"[{'date': 2017-02-13 04:00:00, 'name': 'parves..."
3,589cc846c0b9fec62febf278,zootopia,2016,PG,2016-04-04 04:00:00,108,[USA],"[Animation, Adventure, Comedy, Crime, Family, ...",Byron Howard,"[Byron Howard, Rich Moore]","[Ginnifer Goodwin, Jason Bateman, Idris Elba]",From the largest elephant to the smallest shre...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,"{'id': 'tt2948356', 'rating': 8.1, 'votes': 26...","{'meter': 98, 'image': 'certified', 'rating': ...",44,"{'wins': 26, 'nominations': 52, 'text': 'Best ...",movie,NaN
4,589d733a296ba85b1bc3bee6,John Carter,2012,PG-13,2012-03-09 04:00:00,132,[USA],"[Action, Adventure, Sci-Fi]",Andrew Stanton,"[John Lasseter, Andrew Stanton, Lee Unkrich, M...","[Andrew Stanton, Mark Andrews]","John Carter, a Civil War veteran, who in 1868 ...",http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,"{'id': 'tt0401729', 'rating': 6.6, 'votes': 21...","{'meter': 51, 'image': 'certified', 'rating': ...",92,"{'wins': 2, 'nominations': 7, 'text': 'Top Box...",movie,NaN

In [10]:
pd.json_normalize(data.tomato)

,meter,image,rating,reviews,fresh,consensus,userMeter,userRating,userReviews
0,99,certified,6.9,287,241,"Fast, funny, and gleefully profane, the fourth...",90,4.3,181719
1,27,certified,4.9,353,97,Batman v Superman: Dawn of Justice smothers a ...,64,3.6,225954
2,99,certified,8.9,287,283,"Deftly blending comedy, adventure, and honest ...",89,4.3,602138
3,98,certified,8.1,241,236,Kung Fu Panda 3 boasts the requisite visual sp...,92,4.4,95658
4,51,certified,5.7,219,111,While John Carter looks terrific and delivers ...,60,3.5,113966
5,87,certified,6.8,153,133,Kung Fu Panda 3 boasts the requisite visual sp...,79,3.9,98794
6,27,certified,4.9,353,97,Batman v Superman: Dawn of Justice smothers a ...,64,3.6,225954

In [11]:
d2 = pd.concat([data,pd.json_normalize(data.tomato).add_prefix("tomato.")],axis=1)
d2.head()

,_id,title,year,rated,released,runtime,countries,genres,director,writers,...,reviews,tomato.meter,tomato.image,tomato.rating,tomato.reviews,tomato.fresh,tomato.consensus,tomato.userMeter,tomato.userRating,tomato.userReviews
0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,[USA],"[Comics character, Adventure, Action]",Tim Miller,"[Rhett Reese, Paul Wernick]",...,NaN,99,certified,6.9,287,241,"Fast, funny, and gleefully profane, the fourth...",90,4.3,181719
1,589cc22cc0b9fec62febf275,BATMAN V SUPERMAN: DAWN OF JUSTICE,2016,PG-13,2016-03-19 04:00:00,151,[USA],"[Action, Adventure, Sci-Fi]",Lee Unkrich,"[Chris Terrio, David S. Goyer]",...,NaN,27,certified,4.9,353,97,Batman v Superman: Dawn of Justice smothers a ...,64,3.6,225954
2,5692a15524de1e0ce2dfcfa3,Toy Story 4,2011,G,2010-06-18 04:00:00,206,[USA],"[Animation, Adventure, Comedy]",Lee Unkrich,"[John Lasseter, Andrew Stanton, Lee Unkrich, M...",...,"[{'date': 2017-02-13 04:00:00, 'name': 'parves...",99,certified,8.9,287,283,"Deftly blending comedy, adventure, and honest ...",89,4.3,602138
3,589cc846c0b9fec62febf278,zootopia,2016,PG,2016-04-04 04:00:00,108,[USA],"[Animation, Adventure, Comedy, Crime, Family, ...",Byron Howard,"[Byron Howard, Rich Moore]",...,NaN,98,certified,8.1,241,236,Kung Fu Panda 3 boasts the requisite visual sp...,92,4.4,95658
4,589d733a296ba85b1bc3bee6,John Carter,2012,PG-13,2012-03-09 04:00:00,132,[USA],"[Action, Adventure, Sci-Fi]",Andrew Stanton,"[John Lasseter, Andrew Stanton, Lee Unkrich, M...",...,NaN,51,certified,5.7,219,111,While John Carter looks terrific and delivers ...,60,3.5,113966

In [12]:
def flatten_nested_json_df(df):

    df = df.reset_index()

    print(f"original shape: {df.shape}")
    print(f"original columns: {df.columns}")


    # search for columns to explode/flatten
    s = (df.applymap(type) == list).all()
    list_columns = s[s].index.tolist()

    s = (df.applymap(type) == dict).all()
    dict_columns = s[s].index.tolist()

    print(f"lists: {list_columns}, dicts: {dict_columns}")
    while len(list_columns) > 0 or len(dict_columns) > 0:
        new_columns = []

        for col in dict_columns:
            print(f"flattening: {col}")
            # explode dictionaries horizontally, adding new columns
            horiz_exploded = pd.json_normalize(df[col]).add_prefix(f'{col}.')
            horiz_exploded.index = df.index
            df = pd.concat([df, horiz_exploded], axis=1).drop(columns=[col])
            new_columns.extend(horiz_exploded.columns) # inplace

        for col in list_columns:
            print(f"exploding: {col}")
            # explode lists vertically, adding new columns
            df = df.drop(columns=[col]).join(df[col].explode().to_frame())
            new_columns.append(col)

        # check if there are still dict o list fields to flatten
        s = (df[new_columns].applymap(type) == list).all()
        list_columns = s[s].index.tolist()

        s = (df[new_columns].applymap(type) == dict).all()
        dict_columns = s[s].index.tolist()

        print(f"lists: {list_columns}, dicts: {dict_columns}")

    print(f"final shape: {df.shape}")
    print(f"final columns: {df.columns}")
    return df

In [13]:
df = flatten_nested_json_df(data)
df.head(100)

original shape: (7, 20)
original columns: Index(['index', '_id', 'title', 'year', 'rated', 'released', 'runtime',
       'countries', 'genres', 'director', 'writers', 'actors', 'plot',
       'poster', 'imdb', 'tomato', 'metacritic', 'awards', 'type', 'reviews'],
      dtype='object')
lists: ['countries', 'genres', 'writers', 'actors'], dicts: ['imdb', 'tomato', 'awards']
flattening: imdb
flattening: tomato
flattening: awards
exploding: countries
exploding: genres
exploding: writers
exploding: actors
lists: [], dicts: []
final shape: (37464, 32)
final columns: Index(['index', '_id', 'title', 'year', 'rated', 'released', 'runtime',
       'director', 'plot', 'poster', 'metacritic', 'type', 'reviews',
       'imdb.id', 'imdb.rating', 'imdb.votes', 'tomato.meter', 'tomato.image',
       'tomato.rating', 'tomato.reviews', 'tomato.fresh', 'tomato.consensus',
       'tomato.userMeter', 'tomato.userRating', 'tomato.userReviews',
       'awards.wins', 'awards.nominations', 'awards.text', 'countries',
       'genres', 'writers', 'actors'],
      dtype='object')

,index,_id,title,year,rated,released,runtime,director,plot,poster,...,tomato.userMeter,tomato.userRating,tomato.userReviews,awards.wins,awards.nominations,awards.text,countries,genres,writers,actors
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,Ryan Reynolds
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,Morena Baccarin
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,Ed Skrein
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,T.J. Miller
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,Gina Carano
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,Brianna Hildebrand
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,Ryan Reynolds
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,Morena Baccarin
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,Ed Skrein
0,0,589cbda9c0b9fec62febf274,Deadpool,2016,R,2016-06-18 04:00:00,108,Tim Miller,Deadpool is a 2016 American superhero film dir...,http://ia.media-imdb.com/images/M/MV5BMTgxOTY4...,...,90,4.3,181719,5,12,wo Golden Globe Award nominations for Best Mot...,USA,Comics character,Rhett Reese,T.J. Miller

## Aggregation 
Original code from https://docs.mongodb.com/manual/tutorial/aggregation-zip-code-data-set/, converted to pymongo

In [14]:
db = client.zipcode

In [15]:
# Return states with a populations greater than 10 million
pipeline = [
{ "$group": { "_id": "$state", "totalPop": { "$sum": "$pop" } } },
   { "$match": { "totalPop": { "$gte": 10*1000000 } } }
]

In [16]:
pprint.pprint(list(db.zips.aggregate(pipeline)))

[{'_id': 'IL', 'totalPop': 11427576},
 {'_id': 'NY', 'totalPop': 17990402},
 {'_id': 'OH', 'totalPop': 10846517},
 {'_id': 'TX', 'totalPop': 16984601},
 {'_id': 'FL', 'totalPop': 12686644},
 {'_id': 'PA', 'totalPop': 11881643},
 {'_id': 'CA', 'totalPop': 29754890}]

In [17]:
#Get the average city size for all states
pipeline = [
   { "$group": { "_id": { "state": "$state", "city": "$city" }, "pop": { "$sum": "$pop" } } },
   { "$group": { "_id": "$_id.state", "avgCityPop": { "$avg": "$pop" } } }
]

In [18]:
pprint.pprint(list(db.zips.aggregate(pipeline)))

[{'_id': 'KY', 'avgCityPop': 4767.164721141375},
 {'_id': 'GA', 'avgCityPop': 11547.62210338681},
 {'_id': 'IL', 'avgCityPop': 9954.334494773519},
 {'_id': 'IA', 'avgCityPop': 3123.0821147356583},
 {'_id': 'MI', 'avgCityPop': 12087.512353706112},
 {'_id': 'DC', 'avgCityPop': 303450.0},
 {'_id': 'ID', 'avgCityPop': 4320.811158798283},
 {'_id': 'SC', 'avgCityPop': 11139.626198083068},
 {'_id': 'OH', 'avgCityPop': 12700.839578454332},
 {'_id': 'NY', 'avgCityPop': 13131.680291970803},
 {'_id': 'MA', 'avgCityPop': 14855.37037037037},
 {'_id': 'DE', 'avgCityPop': 14481.91304347826},
 {'_id': 'NE', 'avgCityPop': 3034.882692307692},
 {'_id': 'TX', 'avgCityPop': 13775.02108678021},
 {'_id': 'CT', 'avgCityPop': 14674.625},
 {'_id': 'WV', 'avgCityPop': 2771.4775888717154},
 {'_id': 'NM', 'avgCityPop': 5872.360465116279},
 {'_id': 'VA', 'avgCityPop': 8526.177931034483},
 {'_id': 'MD', 'avgCityPop': 12615.775725593667},
 {'_id': 'NC', 'avgCityPop': 10622.815705128205},
 {'_id': 'RI', 'avgCityPop': 19292.653846153848},
 {'_id': 'OR', 'avgCityPop': 8262.561046511628},
 {'_id': 'LA', 'avgCityPop': 10465.496277915632},
 {'_id': 'FL', 'avgCityPop': 27400.958963282937},
 {'_id': 'CO', 'avgCityPop': 9981.075757575758},
 {'_id': 'ND', 'avgCityPop': 1645.0309278350514},
 {'_id': 'AR', 'avgCityPop': 4175.355239786856},
 {'_id': 'NV', 'avgCityPop': 18209.590909090908},
 {'_id': 'MO', 'avgCityPop': 5672.195338512764},
 {'_id': 'WY', 'avgCityPop': 3384.5373134328356},
 {'_id': 'PA', 'avgCityPop': 8679.067202337472},
 {'_id': 'NH', 'avgCityPop': 5232.320754716981},
 {'_id': 'NJ', 'avgCityPop': 15775.89387755102},
 {'_id': 'MN', 'avgCityPop': 5372.21375921376},
 {'_id': 'AZ', 'avgCityPop': 20591.16853932584},
 {'_id': 'AK', 'avgCityPop': 2976.4918032786886},
 {'_id': 'CA', 'avgCityPop': 27756.42723880597},
 {'_id': 'ME', 'avgCityPop': 3006.4901960784314},
 {'_id': 'UT', 'avgCityPop': 9518.508287292818},
 {'_id': 'KS', 'avgCityPop': 3819.884259259259},
 {'_id': 'TN', 'avgCityPop': 9656.350495049504},
 {'_id': 'IN', 'avgCityPop': 9271.130434782608},
 {'_id': 'MT', 'avgCityPop': 2593.987012987013},
 {'_id': 'WI', 'avgCityPop': 7323.00748502994},
 {'_id': 'OK', 'avgCityPop': 6155.743639921722},
 {'_id': 'AL', 'avgCityPop': 7907.2152641878665},
 {'_id': 'WA', 'avgCityPop': 12258.670025188916},
 {'_id': 'MS', 'avgCityPop': 7524.023391812865},
 {'_id': 'VT', 'avgCityPop': 2315.8765432098767},
 {'_id': 'HI', 'avgCityPop': 15831.842857142858},
 {'_id': 'SD', 'avgCityPop': 1839.6746031746031}]

In [19]:
#Return Largest and Smallest Cities by State
pipeline=[
   { "$group":
      {
        "_id": { "state": "$state", "city": "$city" },
        "pop": { "$sum": "$pop" }
      }
   },
   { "$sort": { "pop": 1 } },
   { "$group":
      {
        "_id" : "$_id.state",
        "biggestCity":  { "$last": "$_id.city" },
        "biggestPop":   { "$last": "$pop" },
        "smallestCity": { "$first": "$_id.city" },
        "smallestPop":  { "$first": "$pop" }
      }
   },


  { "$project":
    { "_id": 0,
      "state": "$_id",
      "biggestCity":  { "name": "$biggestCity",  "pop": "$biggestPop" },
      "smallestCity": { "name": "$smallestCity", "pop": "$smallestPop" }
    }
  }
]

In [20]:
pprint.pprint(list(db.zips.aggregate(pipeline)))

[{'biggestCity': {'name': 'CHEYENNE', 'pop': 70185},
  'smallestCity': {'name': 'LOST SPRINGS', 'pop': 6},
  'state': 'WY'},
 {'biggestCity': {'name': 'PHILADELPHIA', 'pop': 1610956},
  'smallestCity': {'name': 'HAMILTON', 'pop': 0},
  'state': 'PA'},
 {'biggestCity': {'name': 'LAS VEGAS', 'pop': 597557},
  'smallestCity': {'name': 'TUSCARORA', 'pop': 1},
  'state': 'NV'},
 {'biggestCity': {'name': 'PHOENIX', 'pop': 890853},
  'smallestCity': {'name': 'HUALAPAI', 'pop': 2},
  'state': 'AZ'},
 {'biggestCity': {'name': 'SAINT LOUIS', 'pop': 397802},
  'smallestCity': {'name': 'BENDAVIS', 'pop': 44},
  'state': 'MO'},
 {'biggestCity': {'name': 'GRAND FORKS', 'pop': 59527},
  'smallestCity': {'name': 'TROTTERS', 'pop': 12},
  'state': 'ND'},
 {'biggestCity': {'name': 'CRANSTON', 'pop': 176404},
  'smallestCity': {'name': 'CLAYVILLE', 'pop': 45},
  'state': 'RI'},
 {'biggestCity': {'name': 'LITTLE ROCK', 'pop': 192895},
  'smallestCity': {'name': 'TOMATO', 'pop': 0},
  'state': 'AR'},
 {'biggestCity': {'name': 'LOS ANGELES', 'pop': 2102295},
  'smallestCity': {'name': 'TWIN BRIDGES', 'pop': 0},
  'state': 'CA'},
 {'biggestCity': {'name': 'MIAMI', 'pop': 825232},
  'smallestCity': {'name': 'CECIL FIELD NAS', 'pop': 0},
  'state': 'FL'},
 {'biggestCity': {'name': 'PORTLAND', 'pop': 63268},
  'smallestCity': {'name': 'BUSTINS ISLAND', 'pop': 0},
  'state': 'ME'},
 {'biggestCity': {'name': 'ANCHORAGE', 'pop': 183987},
  'smallestCity': {'name': 'NAKNEK', 'pop': 0},
  'state': 'AK'},
 {'biggestCity': {'name': 'WICHITA', 'pop': 295115},
  'smallestCity': {'name': 'ARNOLD', 'pop': 0},
  'state': 'KS'},
 {'biggestCity': {'name': 'MINNEAPOLIS', 'pop': 344719},
  'smallestCity': {'name': 'JOHNSON', 'pop': 12},
  'state': 'MN'},
 {'biggestCity': {'name': 'NEWARK', 'pop': 275572},
  'smallestCity': {'name': 'IMLAYSTOWN', 'pop': 17},
  'state': 'NJ'},
 {'biggestCity': {'name': 'MANCHESTER', 'pop': 106452},
  'smallestCity': {'name': 'WEST NOTTINGHAM', 'pop': 27},
  'state': 'NH'},
 {'biggestCity': {'name': 'MILWAUKEE', 'pop': 597324},
  'smallestCity': {'name': 'CLAM LAKE', 'pop': 2},
  'state': 'WI'},
 {'biggestCity': {'name': 'INDIANAPOLIS', 'pop': 348868},
  'smallestCity': {'name': 'WESTPOINT', 'pop': 145},
  'state': 'IN'},
 {'biggestCity': {'name': 'SALT LAKE CITY', 'pop': 186346},
  'smallestCity': {'name': 'MODENA', 'pop': 9},
  'state': 'UT'},
 {'biggestCity': {'name': 'MEMPHIS', 'pop': 632837},
  'smallestCity': {'name': 'ALLRED', 'pop': 2},
  'state': 'TN'},
 {'biggestCity': {'name': 'ATLANTA', 'pop': 609591},
  'smallestCity': {'name': 'FORT STEWART', 'pop': 0},
  'state': 'GA'},
 {'biggestCity': {'name': 'BILLINGS', 'pop': 78805},
  'smallestCity': {'name': 'HOMESTEAD', 'pop': 7},
  'state': 'MT'},
 {'biggestCity': {'name': 'SIOUX FALLS', 'pop': 102046},
  'smallestCity': {'name': 'ZEONA', 'pop': 8},
  'state': 'SD'},
 {'biggestCity': {'name': 'BURLINGTON', 'pop': 39127},
  'smallestCity': {'name': 'UNIV OF VERMONT', 'pop': 0},
  'state': 'VT'},
 {'biggestCity': {'name': 'SEATTLE', 'pop': 520096},
  'smallestCity': {'name': 'BENGE', 'pop': 2},
  'state': 'WA'},
 {'biggestCity': {'name': 'BIRMINGHAM', 'pop': 242606},
  'smallestCity': {'name': 'ALLEN', 'pop': 0},
  'state': 'AL'},
 {'biggestCity': {'name': 'HONOLULU', 'pop': 396643},
  'smallestCity': {'name': 'NINOLE', 'pop': 0},
  'state': 'HI'},
 {'biggestCity': {'name': 'TULSA', 'pop': 389072},
  'smallestCity': {'name': 'SOUTHARD', 'pop': 8},
  'state': 'OK'},
 {'biggestCity': {'name': 'JACKSON', 'pop': 204788},
  'smallestCity': {'name': 'CHUNKY', 'pop': 79},
  'state': 'MS'},
 {'biggestCity': {'name': 'DES MOINES', 'pop': 148155},
  'smallestCity': {'name': 'DOUDS', 'pop': 15},
  'state': 'IA'},
 {'biggestCity': {'name': 'CHICAGO', 'pop': 2452177},
  'smallestCity': {'name': 'ANCONA', 'pop': 38},
  'state': 'IL'},
 {'biggestCity': {'name': 'LOUISVILLE', 'pop': 288058},
  'smallestCity': {'name': 'BROWDER', 'pop': 0},
  'state': 'KY'},
 {'biggestCity': {'name': 'COLUMBIA', 'pop': 269521},
  'smallestCity': {'name': 'QUINBY', 'pop': 0},
  'state': 'SC'},
 {'biggestCity': {'name': 'WORCESTER', 'pop': 169856},
  'smallestCity': {'name': 'BUCKLAND', 'pop': 16},
  'state': 'MA'},
 {'biggestCity': {'name': 'CLEVELAND', 'pop': 536759},
  'smallestCity': {'name': 'ISLE SAINT GEORG', 'pop': 38},
  'state': 'OH'},
 {'biggestCity': {'name': 'BOISE', 'pop': 165522},
  'smallestCity': {'name': 'KEUTERVILLE', 'pop': 0},
  'state': 'ID'},
 {'biggestCity': {'name': 'WASHINGTON', 'pop': 606879},
  'smallestCity': {'name': 'PENTAGON', 'pop': 21},
  'state': 'DC'},
 {'biggestCity': {'name': 'NEWARK', 'pop': 111674},
  'smallestCity': {'name': 'BETHEL', 'pop': 108},
  'state': 'DE'},
 {'biggestCity': {'name': 'DETROIT', 'pop': 963243},
  'smallestCity': {'name': 'LELAND', 'pop': 0},
  'state': 'MI'},
 {'biggestCity': {'name': 'OMAHA', 'pop': 358930},
  'smallestCity': {'name': 'LAKESIDE', 'pop': 5},
  'state': 'NE'},
 {'biggestCity': {'name': 'HOUSTON', 'pop': 2095918},
  'smallestCity': {'name': 'FULTON', 'pop': 0},
  'state': 'TX'},
 {'biggestCity': {'name': 'HUNTINGTON', 'pop': 75343},
  'smallestCity': {'name': 'MOUNT CARBON', 'pop': 0},
  'state': 'WV'},
 {'biggestCity': {'name': 'BRIDGEPORT', 'pop': 141638},
  'smallestCity': {'name': 'EAST KILLINGLY', 'pop': 25},
  'state': 'CT'},
 {'biggestCity': {'name': 'BROOKLYN', 'pop': 2300504},
  'smallestCity': {'name': 'CHILDWOLD', 'pop': 0},
  'state': 'NY'},
 {'biggestCity': {'name': 'NEW ORLEANS', 'pop': 496937},
  'smallestCity': {'name': 'LAFITTE', 'pop': 0},
  'state': 'LA'},
 {'biggestCity': {'name': 'PORTLAND', 'pop': 518543},
  'smallestCity': {'name': 'KENT', 'pop': 0},
  'state': 'OR'},
 {'biggestCity': {'name': 'DENVER', 'pop': 451182},
  'smallestCity': {'name': 'CHEYENNE MTN AFB', 'pop': 0},
  'state': 'CO'},
 {'biggestCity': {'name': 'CHARLOTTE', 'pop': 465833},
  'smallestCity': {'name': 'GLOUCESTER', 'pop': 0},
  'state': 'NC'},
 {'biggestCity': {'name': 'ALBUQUERQUE', 'pop': 449584},
  'smallestCity': {'name': 'ALGODONES', 'pop': 0},
  'state': 'NM'},
 {'biggestCity': {'name': 'VIRGINIA BEACH', 'pop': 385080},
  'smallestCity': {'name': 'WALLOPS ISLAND', 'pop': 0},
  'state': 'VA'},
 {'biggestCity': {'name': 'BALTIMORE', 'pop': 733081},
  'smallestCity': {'name': 'ANNAPOLIS JUNCTI', 'pop': 32},
  'state': 'MD'}]

In [21]:
zipDF = pd.DataFrame(list(db.zips.aggregate(pipeline)))

In [22]:
zipDF.head()

,biggestCity,smallestCity,state
0,"{'name': 'CHEYENNE', 'pop': 70185}","{'name': 'LOST SPRINGS', 'pop': 6}",WY
1,"{'name': 'PHILADELPHIA', 'pop': 1610956}","{'name': 'HAMILTON', 'pop': 0}",PA
2,"{'name': 'LAS VEGAS', 'pop': 597557}","{'name': 'TUSCARORA', 'pop': 1}",NV
3,"{'name': 'PHOENIX', 'pop': 890853}","{'name': 'HUALAPAI', 'pop': 2}",AZ
4,"{'name': 'SAINT LOUIS', 'pop': 397802}","{'name': 'BENDAVIS', 'pop': 44}",MO

In [23]:
zipDF = pd.concat([zipDF,pd.json_normalize(zipDF.biggestCity).add_prefix("biggest."),pd.json_normalize(zipDF.smallestCity).add_prefix("smallest.")],axis=1)
zipDF.head()

,biggestCity,smallestCity,state,biggest.name,biggest.pop,smallest.name,smallest.pop
0,"{'name': 'CHEYENNE', 'pop': 70185}","{'name': 'LOST SPRINGS', 'pop': 6}",WY,CHEYENNE,70185,LOST SPRINGS,6
1,"{'name': 'PHILADELPHIA', 'pop': 1610956}","{'name': 'HAMILTON', 'pop': 0}",PA,PHILADELPHIA,1610956,HAMILTON,0
2,"{'name': 'LAS VEGAS', 'pop': 597557}","{'name': 'TUSCARORA', 'pop': 1}",NV,LAS VEGAS,597557,TUSCARORA,1
3,"{'name': 'PHOENIX', 'pop': 890853}","{'name': 'HUALAPAI', 'pop': 2}",AZ,PHOENIX,890853,HUALAPAI,2
4,"{'name': 'SAINT LOUIS', 'pop': 397802}","{'name': 'BENDAVIS', 'pop': 44}",MO,SAINT LOUIS,397802,BENDAVIS,44

In [24]:
zipDF = zipDF.drop(["biggestCity","smallestCity"],axis=1)
zipDF.head()

  state  biggest.name  biggest.pop smallest.name  smallest.pop
0    WY      CHEYENNE        70185  LOST SPRINGS             6
1    PA  PHILADELPHIA      1610956      HAMILTON             0
2    NV     LAS VEGAS       597557     TUSCARORA             1
3    AZ       PHOENIX       890853      HUALAPAI             2
4    MO   SAINT LOUIS       397802      BENDAVIS            44