In [1]:
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline

In [2]:
auto_df = data('mpg')
auto_df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

# Z Scaling

In [3]:
auto_df['cty_zscore'] = (auto_df['cty'] - auto_df['cty'].mean())/auto_df['cty'].std()
auto_df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_zscore
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,0.268102
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,0.972998
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,0.738032
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,0.972998
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,-0.201829

# min-max encoding to 0,1

In [4]:
min_max_scaler = MinMaxScaler()
scaled_array = min_max_scaler.fit_transform(auto_df['cty'].values.astype(float).reshape(-1, 1))
sa_df = pd.DataFrame(scaled_array)
sa_df = sa_df.rename(columns={0:'cty_scale'})
print(sa_df.head())

sa_df.index += 1  # index started at 1 for autoModelDF, but 0 for the hashedfeatures, correct offset
auto_df = pd.concat([auto_df,sa_df], axis=1)
auto_df.head()

   cty_scale
0   0.346154
1   0.461538
2   0.423077
3   0.461538
4   0.269231

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_zscore,cty_scale
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,0.268102,0.346154
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,0.972998,0.461538
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,0.738032,0.423077
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,0.972998,0.461538
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,-0.201829,0.269231